.container{
            height: 450px;
            width: 300px;
            margin: auto;
            padding: 10;
            border: 10px dashed rgb(100, 100, 100);
            align-items: center;
            align-content: center;
            text-align: center;
            text-transform: capitalize;
            flex-direction: column;
            display: flex;
            outline: 4px;
            outline-style: auto;
            outline-color: deeppink;
            outline-offset: 10px;   
            background-color: palevioletred;
            justify-content: center;
}

h2 {  
        font-size: 30px;
        font-style: italic;
        color: rgb(50, 100, 100);
        font-family: cursive;
    }

    span{
            cursor: pointer;
            color: greenyellow;
            font-size: 40px;
            font-weight: 300;
        }

    h2 span 
    :hover{
            color: green;
       }

       h3{
            font-size: 27px;
            color: yellowgreen;
            font-family: cursive;
        }

        ul{
            list-style: none;
            font-size: 25px;
            font-style: italic;
            display: inline-block;
            text-align: justify;
            margin-right: 5em;
            color: black;
                } 

          ul li::before{
            content: "\2022";
            color: greenyellow;
            width: 1em;
          }

          /* 
          Assigment by CHUKWUEMEKA OGBONNA
          */
